/* màu chủ đạo là đen, trắng, xanh, đỏ */
/* add new food and drink - form */
#add_form {
    margin: auto;
    padding: 10px;
    width: fit-content;
    text-align: center;
    border: 1px solid white;
    border-radius: 15px;
    background-color: rgba(165, 221, 221, 0.767);
}

.add_form_header {
    text-transform: capitalize;
}

.add_form_content {
    text-align: left;
    margin: 4px;
    padding: 2px;
}

.form-group {
    width: 100%;
    margin: 4px;
}

label {
    margin: 2px;
}

.form-group input[type=text] {
    width: 100%;
}

.add_form_btns button {
    width: 100%;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(138, 173, 218);
}