* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.brand {
    background-image: linear-gradient(to right, blue, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    font-family: cursive;
    align-items: center;
    font-size: 40px;
    text-decoration: none;
    padding: 3px;
}

body {
    overflow-x: hidden;
}

/* navbar */
#sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 100;
    transition: 0.5s;
    background-color: lightsteelblue;
    box-shadow: 4px 0px 0px 0px lightgray;
    overflow: hidden;
}

/* #sidebar-brand {
    position: absolute;
    text-align: center;
    background-color: lightsteelblue;
    border-bottom: 1px solid white;
    height: 70px;
    padding: 4px;
    box-shadow: 0 4px 0 0 lightgray;
} */
#sidebar-menu li:nth-child(1) {
    border-bottom: 1px solid white;
    margin: 0;
}

#sidebar-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    /* width: 250px; */
}

#sidebar-menu li {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}

#sidebar-menu a {
    font-size: 1.2rem;
    color: white;
    text-transform: capitalize;
    padding-left: 15px;
    display: flex;
}

#sidebar-menu .nav-link:hover {
    background-color: white;
    color: lightcoral
}

#sidebar-menu .nav-link:active {
    text-decoration: underline;
}

#sidebar-menu a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;

}

#sidebar-menu a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

#sidebar-menu .fa-solid {
    font-size: 20px;
    margin-right: 10px;
}

/* body */
.main-content {
    min-height: 100vh;
    margin-left: 250px;
    width: auto;
    padding: 0px 1px;
    background-color: cornsilk;
    transition: 0.5s;
}

/* header - search - user */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 8px;
    background-color: lightsteelblue;
    box-shadow: 0 4px 0 0 lightgray;
}

#header-left {
    display: flex;
    align-items: center;
}

#header-right .fa-user-large {
    font-size: 20px;
}

/* togger */
.toggle {
    position: relative;
    cursor: pointer;
}

#sidebar.active {
    width: 70px;
}

.main-content.active {
    margin-left: 70px;
    width: auto;
}

/* search */
.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 5px 20px;
    padding-left: 40px;
    outline: none;
}

.search label .fa-solid {
    position: absolute;
    left: 10px;
    top: 12px;
}

/* main content */
main {
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    background-color: snow;
    box-shadow: 2px 2px lightgrey;
}

.main-header-left {
    display: flex;
    align-items: baseline;
}

.main-header-left h4 {
    margin-right: 20px;
}

.main-header-right .fa-regular {
    font-size: 25px;
}

/* list food and drink */

#add-btn {
    margin: 10px;
    border: 1px solid steelblue;
    padding: 8px;
    border-radius: 20px;
}

#add-btn:active {
    border: 1px solid white;
    background-color: skyblue;
}

.title {
    text-align: center;
}

table {
    margin: auto;
    width: 90%;
    border-collapse: collapse;
    background-color: white;
}

th {
    text-transform: capitalize;
}

th,
td {
    border: 1px solid black;
    text-align: center;
}


tbody img {
    height: 150px;
    max-width: 100%;
    object-fit: contain;
}

.list-image,
.list-btns,
.list-cost,
.list-sl {
    width: 150px;
}

#manager,
#manager a {
    display: inline-grid;
    text-decoration: none;
}

#manager a {
    margin-bottom: 4px;
}

/* pagination */
.pagination {
    float: right;
    margin: 5px 60px;
    padding: 5px 10px;
}

@media screen and (min-width: 1200px) {
    .main-content {
        max-width: 100%;
    }
}

@media screen and (max-width: 500px) {
    #sidebar {
        width: 180px;
    }

    .main-content {
        margin-left: 180px;
    }

    .main-content.active {
        margin-left: 70px;
        width: auto;
    }
}

@media screen and (max-width: 400px) {
    #sidebar {
        width: 70px;
    }

    .main-content {
        margin-left: 70px;
    }
}

@media screen and (max-width: 280px) {
    #sidebar {
        width: 70px;
    }

    .main-content {
        margin-left: 70px;
        width: min-content;
    }
}